@import "tailwindcss";

:root,
* {
  font-family: "Fredoka", sans-serif !important;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
